.App {
  text-align: center;
}

.logoWorking {
  animation: App-logo-working infinite 3s linear alternate;
  height: 40vmin;
  pointer-events: none;
}

.logoNotWorking {
  animation: App-logo-notWorking infinite 5s linear alternate;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #feda36;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-working {
  0% {
    transform: rotate(0deg) scale(0);
  }
  80% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes App-logo-notWorking {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

figure {
  display: table-cell;
  width: 25%;
  padding-bottom: 30px;
}

.buttonWork {
  background-color: #FEDA36;
  width: 200px;
  height: 60px;
  border: 2px solid rgb(226, 185, 0);
  border-radius: 10px;
  font-size: 1.3em;
  font-weight: 900;
}

.buttonWork:focus {
  outline: none !important;
  border: 2px solid rgb(226, 185, 0);
  border-radius: 10px;
}

.btnMarge {
  background-color: #FEDA36;
  width: 200px;
  height: 60px;
  border: 2px solid rgb(226, 185, 0);
  border-radius: 10px;
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 20px;
}

.btnMarge:focus {
  outline: none !important;
  border: 2px solid rgb(226, 185, 0);
  border-radius: 10px;
}

.btnCount {
  background-color: #FEDA36;
  width: 80px;
  height: 40px;
  border: 2px solid rgb(226, 185, 0);
  border-radius: 10px;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 20px;
  margin: 5px;
}

.btnCount:focus {
  outline: none !important;
  border: 2px solid rgb(226, 185, 0);
  border-radius: 10px;
}
